[Unit]
Description=tunnel.ma37.com Tunnel Server
After=network.target redis.service

[Service]
Type=simple
WorkingDirectory=/www/wwwroot/tunnel37git
EnvironmentFile=/www/wwwroot/tunnel37git/tunnel-server.env
ExecStart=/www/wwwroot/tunnel37git/tunnel-server
Restart=always
RestartSec=3
User=root
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
