[Unit]
Description=tunnel.ma37.com Tunnel Server
After=network.target redis.service

[Service]
Type=simple
WorkingDirectory=/opt/demo-go-tunnel
EnvironmentFile=/opt/demo-go-tunnel/tunnel-server.env
ExecStart=/opt/demo-go-tunnel/tunnel-server
Restart=always
RestartSec=3
User=root
LimitNOFILE=1048576
StandardOutput=append:/opt/demo-go-tunnel/logs/tunnel-server.log
StandardError=append:/opt/demo-go-tunnel/logs/tunnel-server.err.log

[Install]
WantedBy=multi-user.target
